body {
    background-color: beige;
}
h2 {
    color:antiquewhite;
    background-color: #42d3ff;
}
.headers {
   color:rgb(255, 196, 0);
   background-color: #20b8ff;
   font-style: italic;
}
#logo {
    
    font-size: 80px;
    color:rgb(32, 119, 115);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header{
    text-align:center;
    color:Red;
    font-size:40px;
    Font-Family:Fantasy;
}
.header:hover{
    color:skyblue
}
iframe {
    width:500px;
    height:300px;
}
.main {
    text-align: center;
}
